// Navigation Styles here

.navbar{
  display: flex;
  margin:1% 29%;


  .title{
    display: flex;
    justify-content: flex-start;
    width:60%;

  }

  a{
    font-size:15px;
  }

  .nav-links{
    width:40%;
    display:flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
  }

}